#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;

}

body{
  background-color: #121212;
  background-image: url('../src/assets/background.avif');
  color: #E0E0E0;
}
